@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.br-point {
  position: relative;
  left: 45px;
}

@media only screen and (max-width: 1025px) {
  .br-point {
    position: relative;
    left: 5px;
  }
}
